.DS_Store
/PrjQtwo3
/PrjTable
/PrjTemp
/PrjQtwo2
/PrjQtwo3
/PrjQtwo4
/PrjMirror/
/PrjFrame/
/PrjIRMP/
/PrjIRMP328p/
/PrjIRMP85/
/PrjQtwo4_WS2801/
/PrjQtwo4_WS2812/
/misc/other/avrdude/*.hex
/misc/other/avrdude/*.bin
